

.header {
    display: flex;
    align-items: center;
    padding: 10px; /* Adiciona espaço interno */
}
.header > div {
    display: flex;
    flex-direction: column;
}


.header img {
    width: 50px; /* Ajusta a largura da imagem do logo */
    height: auto; /* Mantém a proporção da imagem */
}
.header h1 {
     padding-left: 200px;
}

.header h1 {
    margin-left: 0px;
    padding-left: 0px;
    margin: 10;
    color: white; /* Ajuste a cor do texto se necessário */
}
.interface {
    display: flex;
    align-items: center;
    padding: 5px; /* Adiciona espaço interno */
}
.container {
    display: flex;
    width:100%;
    height: 50;
    justify-content: space-between;
    gap: 10px;
}
.text{
display:flex;
flex-direction: row;
justify-content: left;
text-align: left;
 color:white;
   display: inline-block;
    text-align: center;
}
.navbar{

display: flex;
justify-content: space-evenly;
align-items: center;

}
.nav-list{
 margin-left: auto;
 display: flex;
 width:20%;
 justify-content: space-evenly;

}

.list-items{

display: flex;
align-items: center;
list-style-type: none;

}
.list-items i {
    margin-left: 10px; /* Adiciona espaço entre os ícones */
}


.header .icons {
    display: flex;
    align-items: center; /* Centraliza verticalmente os ícones */
}

.header .icons span {
    font-size: 36px; /* Ajusta o tamanho do ícone */
    color: red; /* Ajusta a cor do ícone */
    margin-left: 10px; /* Adiciona espaço entre a imagem e os ícones */
}
.rodape{

    padding: 20px;
    color: white;
    text-align: left;
    width: 100%;
    margin-top:31%;
    clear: both; /* Limpa os floats */
}


section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 ;

}
.slider-content{
width: 400%;
height: auto;
display: flex;
}
.slide-content input{
    display: none;
}
.slide-box img{
    width: 50%;
    height: auto;
    position: relative;
    text-align: center;

}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid white;
    padding 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{

     background-color: white;

}

video{

     width: 110%;
     height: 110%;
     position: absolute;
     height:100vh;
     width:100vw;
     top:0;
     left:0;
     z-index:-1;
     object-fit: cover;

}
.logo{
filter: brightness(100);
position: fixed;
width:48opx;
}
.header.rodape p {
    margin: 10px 255;
    text-align:center;
}