{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igreja Batista</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="slide.js" defer></script>
</head>
<body class="body">
    <div class="header">
        <img src="{% static 'image/logo1.png' %}" style="width: 200px; height: auto;" alt="logo Igreja"/>

          <ul class="nav-list">
            <li class="list-items">
                <i class="fa fa-youtube-play" style="font-size:36px;color:red;"></i>
                <i class="fa fa-instagram" style="font-size:36px;color:#FFFF00"></i>
                <i class="fa fa-facebook" style="font-size:36px;color:darkblue"></i>
            </li>
        </ul>
    </div>
    <div class="video">
        <video src="{% static './image/video1.MP4' %}" autoplay muted loop ></video>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <div class="header rodape">

        <img src="{% static 'image/logo1.png' %}" style="width: 200px; height: auto;" alt="logo Igreja"/>

        <p class="text" >R. Administrador Manoel Ângelo de Oliveira, 712 <br> Mangabeira VII, João Pessoa - PB, 58058-000 <br>Copyright &copy; 2024 </p>

         <ul class="nav-list">
            <li class="list-items">
                <i class="fa fa-youtube-play" style="font-size:36px;color:red;"></i>
                <i class="fa fa-instagram" style="font-size:36px;color:#FFFF00"></i>
                <i class="fa fa-facebook" style="font-size:36px;color:darkblue"></i>
            </li>
          </ul>

    </div>
</body>
</html>
